# Composer
composer.phar
composer.lock

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini

# phpcpd & phploc stats (generated in a pre-commit hook)
STATS
