# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php
php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

matrix:
    allow_failures:
        - php: 5.3

before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev --no-interaction

script:
  - mkdir -p build/logs
  - mkdir -p build/cov
  - php bin/phpunit -c phpunit.xml.dist

after_script:
  - php bin/coveralls -v

notifications:
  email:
    - ronan.guilloux@gmail.com
