<?xml version="1.0"?>
<phpunit verbose="true" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" stopOnError="false" stopOnIncomplete="false" stopOnSkipped="false" syntaxCheck="false" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="IsoCodes">
            <testsuite>
                <directory>tests/IsoCodes/Tests</directory>
            </testsuite>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>

    <logging>
        <!-- uncoment to generate code-ceverage stats in /tmp/report: -->
        <!--<log type="coverage-html" target="/tmp/report" charset="UTF-8" yui="true" highliighlight="false" lowUpperBound="35" highLowerBound="70" />-->
        <!--<log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>-->
        <!--<log type="coverage-clover" target="build/logs/clover.xml"/>-->
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-php" target="build/cov/coverage.cov"/>
    </logging>
</phpunit>
