<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="IsoCodes">
            <directory>tests/IsoCodes/Tests</directory>
            <exclude>tests/IsoCodes/Tests/AbstractIsoCodeInterfaceTest.php</exclude>
            <exclude>tests/IsoCodes/Tests/AbstractIsoCodeTest.php</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
