<?xml version="1.0"?>
<phpunit strict="true" verbose="true" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" stopOnError="false" stopOnIncomplete="false" stopOnSkipped="false" syntaxCheck="false" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="IsoCodes">
            <testsuite>
                <directory>tests/IsoCodes/Tests</directory>
            </testsuite>
        </testsuite>
    </testsuites>
    <logging>
        <!-- uncoment to generate code-ceverage stats in /tmp/report: -->
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
